<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="internalLog.txt">
  <extensions>
    <add assembly="NLog" />
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <target name="f" xsi:type="File" fileName="${basedir}/../log/${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message}" />
    <target name="e" xsi:type="File" fileName="${basedir}/../log/${shortdate}.err" layout="${longdate} | ${uppercase:${level}} | ${message}" />
    <target name="c" xsi:type="Console"  layout="${uppercase:${level}} ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="f" />
    <logger name="*" minlevel="Trace" writeTo="c" />
    <logger name="*" minlevel="Error" writeTo="e" />
  </rules>
</nlog>
